#login_title{
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 75px;
  font-family: droid;

  @media screen and (max-width: 20em ) {
  	width: 95%;
    font-size: 1rem;
    margin-bottom: 30px;
  }
}

.modLogin{
  width: 75%;
  margin: 0 auto;

  @media screen and (max-width: 20em ) {
    width: 95%;
  }
}

.modLogin__input{
  display: block;
  margin: 1rem 0;
  padding: .25rem 0 .25rem .2rem;
  outline: none;

  @media screen and (max-width: 20em ) {
    width: 95%;
    padding: .45rem 0 .45rem .2rem;
  }

  &.is-error{
    background: #ff776f;
  }
}

.modLogin__input--submit{
  border: none;
  background: cornflowerblue;
  padding: .75rem .5rem;

  @include vendor(transition, color .3s);

  &:hover{
    color: #def158;
  }

  @media screen and (max-width: 20em ) {
    width: 95%;
  }
}

#help{
  position: absolute;
  bottom: 40px;
  right: 40px;
  padding: 0.25rem;
  background: #def158;
  color: #4492ff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;

  @include vendor(transition, background .5s);

  &:hover{
    background: #fbffd5;
  }

  @media screen and (max-width: 20em ) {
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    position: relative;
    box-shadow: none;
  }
}