.content-box{

  @media screen and (min-width: 52em ) {
    display: block;
    width: 75%;
    margin-left: 5%;
  }

}

article{
  margin-bottom: 2.5% ;
  position: relative;
  overflow-y: hidden;


  &:hover .article-readmore{
    @include vendor(transition, all .15s);
    position: relative;
    bottom: 0;
    opacity: 1;
    margin-bottom: 0;
    width: 100%;

  }
}

.article-content,.article-contentSample{
  display: block;
  font-family: "Noto Sans";
  padding: .5rem;

  h2,h3,h4{
    font-family: $fontfamily-heading;
  }

  @media screen and (min-width: 52em ) {
    padding: .5rem 2rem;
  }
}

.article-heading{

  color: #3c3e40;

  font-family: $fontfamily-heading;
  display: block;
  width: 85%;
  vertical-align: middle;
  font-size: $fontsize-t2;
  border-bottom: 2px solid #dde6e1;
  border-top: 2px solid #dde6e1;
  margin-left: .5rem;
  padding-left: .25rem;

  @media screen and (min-width: 52em ) {
    font-size: $fontsize-t3;
  }
 }

.article-pubdate{

  font-size: .8rem;
  margin-left: 2.5%;
  margin-top: .5rem;
  border-bottom: 2px solid #000000;

}

.article-content{

  display: none;
  padding-top: 0;
}


.article-readmore{
  width: 100%;

  background: #3def48;
  display: block;
  text-align: center;
  line-height: 1.5;
  color: #000000;

  @include vendor(transition, all .25s);
  position: relative;
  bottom: 0;
  opacity: 1;


}

