.m-header {
  margin-bottom: 2.5rem;
  border-bottom: 2px solid #000000;
  background: url("../files/squairy_light.png");
  position: relative;

}

.header__logo {

  display: inline-block;
  width: 90%;
  margin-left: 2.5%;
  font-family: $fontfamily-heading;
  font-size: 200%;
  border-bottom: 4px solid #97a1a2;
  margin-bottom: .5rem;

  @media screen and (min-width: 52em ) {
    font-size: $fontsize-t2;
  }

  @media screen and (min-width: 60em ) {
    font-size: $fontsize-t3;
  }

}

.header__menu-trigger {
  position: relative;
  display: inline-block;
  padding: .5rem;
  text-align: center;
  width: 7%;
  cursor: pointer;

}



