.modAdressing{
  position: relative;
  width: 95%;
  left: 5%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;

  >.modAdressing__sub{
    width: 33%;
    display: inline-block;
    padding-bottom: 10px;
    >.modAdressing__sub__title{
      font-size: 1.2rem;
      padding-bottom: 5px;

      font-family: "Noto Sans";
      padding-left: 5px;
    }

    &.active >.modAdressing__sub__title{
      background: #e2e0c2;
    }
  }

  >.modRecipient{

    .modRecipient__input{
      display: block;
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;

      &:focus{
        background: #ddd;
      }
    }

  }

  >.modSender{
    .modSender__input{
      display: block;
      border: none;
      border-bottom: 1px solid #ddd;
      outline: none;

      &:focus{
        background: #ddd;
      }
    }

    .modSender__input--postal,.modSender__input--loc,.lbl__sendLoc{

    }
  }
}

.lbl{
  display: block;
  font-weight: 300;
  margin-top: .25rem;
  color: #858585;
  font-size: .75rem;
  font-family: "Noto Sans";
}

.modRecipient__form,.modSender__form{
  margin-left: 10px;
}

.modAutocomplete{
  position: fixed;
  top: 5px;
  width: 30%;
  max-height: 95%;
  left: 35%;
  padding: 20px;
  background: #c4ccc5;
  overflow-y: auto;
}

.modAutocomplete__packing__list{
  list-style: none;
}

.modAutocomplete__packing__list__el{
  &:hover{
    background: #ffffff;
    cursor: pointer;
  }

  &.is-chosen{
    font-weight: bold;
  }
}