
.modPackinglist,.testContainer{
  position: fixed;
  top: 5px;
  left: 12.5%;
  width: 75%;
  max-height: 95%;
  background: rgb(252, 255, 252);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.5);
  padding: 20px;
  overflow-y: auto;
  z-index: 21;

}

.modPackinglist__cat{
  width: 32%;
  display: inline-block;
  vertical-align: top;

}

.modPackinglist__cat__title{
  border-bottom: 4px solid $brand-color-blue;
  width: 90%;
}

.modPackinglist__advice{
  display: block;
  padding: .5rem ;

  &:hover{
    background: #000000;
    color: #ffffff;
    cursor: pointer;
  }
}

.modPackinglist__advice__icon{
  margin-right: 5px;
}