/**

  1. Fake a <br>

/*------------------------------------*\
    modifiers
\*------------------------------------

  --huge              : Make it a h2
  --tiny              : Make it a h5
  --close             : Remove the margin-bottom, for inline headings


*/

.journal-h{
  display: block;                             /*[1]*/
  margin-bottom: $base-spacing-unit;          /*[1]*/
  font-family: $fontfamily-journalHeading;
  font-size: 140%;
  color: #2b2a2e;
}

.journal-h--huge{
  font-size: 200%;
}

.journal-h--tiny{
  font-size: 110%;
}

.journal-h--close{
  margin-bottom: $base-spacing-unit * 0.2;
}