.search {
  padding: .5rem;
  margin: .5rem 0;
  font-weight: bold;
  color: #4f4f4f;
  outline: none;
  border: none;
  border-bottom: 2px solid #bebebe;
}

.fl {
  float: left;
  display: inline-block;
}

.clear {
  clear: both;
}

.infopanel {
  padding: .25rem;
  background: #efefef;
  font-weight: bold;
}

.no-data-panel {
  padding-top: 35px;
  font-weight: bold;
  color: #bebebe;
}

.shortrow {
  width: 66%;
}

.rt-input {
  border: none;
  outline: #bebebe;
}

.heading {
  font-family: aleo;
}

.restrained {
  color: #cfcfcf;
}

.participating {
  background: #9dcfb0;
}

.denied {
  background: #cfaa97;
}

.tablerow:hover {
  background: #90c0cf;
}
.tablerow:hover .rt-input {
  background: #90c0cf;
}
