.search {
  padding: .5rem;
  display: inline-block;
  position: absolute;
  outline: none;
  right: 0;
  border: none;
  border-bottom: 2px solid cadetblue;
}

.fl {
  float: left;
  display: inline-block;
}

.clear {
  clear: both;
}

.infopanel {
  padding: .25rem;
  background: #efefef;
  font-weight: bold;
}

.no-data-panel {
  padding-top: 35px;
  font-weight: bold;
  color: #bebebe;
}

.shortrow {
  width: 66%;
}
