<div class="modAdvicelist" ng-show="state.visibility.adviceList">

    <span class="modAdvicelist__button--close icon-2x icon-remove" ng-click="closeAdviceList()"></span>

    <section class="modAdvicelist__cat">
        <h2 class="modAdvicelist__cat__title">Zustellmethode</h2>
		<span class="modAdvicelist__advice jsAdvice" id="advReturn" ng-click="addAdvice(treatment.description)" ng-repeat="treatment in adviceList.advices | filter: {category: 'zustellmethode'}">
        	<i class="modAdvicelist__advice__icon icon-{{treatment.icon}}"></i>
           	{{treatment.description}}
   	  	</span>
    </section>

    <section class="modAdvicelist__cat">
        <h2 class="modAdvicelist__cat__title">Zeitpunkt</h2>

       <span class="modAdvicelist__advice jsAdvice" id="advReturn" ng-click="addAdvice(treatment.description)" ng-repeat="treatment in adviceList.advices | filter: {category: 'zeitpunkt' }">
	       <i class="modAdvicelist__advice__icon icon-{{treatment.icon}}"></i>
	       {{treatment.description}}
       </span>
    </section>

    <section class="modAdvicelist__cat">
        <h2 class="modAdvicelist__cat__title">Sonstiges</h2>

       <span class="modAdvicelist__advice jsAdvice" id="advReturn" ng-click="addAdvice(treatment.description)" ng-repeat="treatment in adviceList.advices | filter: {category: 'sonstiges' }">
	       <i class="modAdvicelist__advice__icon icon-{{treatment.icon}}"></i>
	       {{treatment.description}}
       </span>
    </section>
</div>