<table class="table table-striped" ng-show="search.length > 1">
    <thead>
    <tr>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Betreuer</th>
        <th>Partner</th>
        <th>Kinder</th>
        <th>Teilnahme</th>
        <th>Firma</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="person in clients | persondata:search">
        <td><input class="rt-input" type="text" ng-model="person.vorname" ng-change="updatePerson(person)"></td>
        <td><input class="rt-input" type="text" ng-model="person.nachname" ng-change="updatePerson(person)"></td>
        <td><input class="rt-input" type="text" ng-model="person.betreuer" ng-change="updatePerson(person)"></td>
        <td><input class="rt-input" type="text" ng-model="person.partner" ng-change="updatePerson(person)"></td>
        <td><input class="rt-input" type="text" ng-model="person.kinder" ng-change="updatePerson(person)"></td>
        <td><input class="rt-input" type="text" ng-model="person.teilnahme" ng-change="updatePerson(person)"></td>
        <td><input class="rt-input" type="text" ng-model="person.firma" ng-change="updatePerson(person)"></td>
    </tr>
    </tbody>
</table>
