/**

  1: list-styles would kinda destroy the look, wouldn't they?
  2: Align properly, god dammit!
  3: i would assume, in most cases there will be need of a horizontal nav, therefore this will be standard.
*/

.nav{
  list-style:none;      /*[1]*/
  margin-left:0;        /*[2]*/
  margin-right:0;        /*[2]*/

  > li{

    &,
    > a{                /*[3]*/
      display:inline-block;
      *display:inline;
      zoom:1;
    }
  }
}



.nav-wide--hz{

  @media screen and (min-width: 52em ) {
    li{
      display: inline-block;
    }
  }

}

.nav-wide--vt{
  @media screen and (min-width: 52em ) {
    li{
      display: block;
    }
  }
}

.nav-narrow--hz{
   @media screen and (max-width: 51em ) {
     li{
       display: inline-block;
     }
   }
 }

.nav-narrow--vt{
  @media screen and (max-width: 51em ) {
    li{
      display: block;
    }
  }
}