%m-sideMenu{
  position: fixed;
}

.m-sideMenu--left{

  @extend %m-sideMenu;

  top: 0;
  left: -200px;
  height: 100%;
  width: 200px;
  @include vendor(transition, left .75s);

  &.true{
    left: 0;
    @include vendor(transition, left .75s);
  }
}


.m-sideMenu--right{

  @extend %m-sideMenu;

  top: 0;
  right: -200px;
  height: 100%;
  width: 200px;
  @include vendor(transition, right .75s);

  &.true{
    right: 0;
    @include vendor(transition, right .75s);
  }


}

.m-sideMenu--top{

  @extend %m-sideMenu;

  top: -175px;
  height: 175px;
  width: 100%;
  @include vendor(transition, top .75s);

  &.true{
    top: 0;
    @include vendor(transition, top .75s);
  }

}

.m-sideMenu--bottom{

  @extend %m-sideMenu;

  bottom: -175px;
  height: 175px;
  width: 100%;
  @include vendor(transition, bottom .75s);

  &.true{
    bottom: 0;
    @include vendor(transition, bottom .75s);
  }

}
